@font-face {
    font-family: 'Trenda-Black';
    src: url(./files/Latinotype-Trenda-Black.otf);
    font-style: normal;
}

@font-face {
    font-family: 'Trenda-SemiBold';
    src: url(./files/Latinotype-Trenda-Semibold.woff);
    font-style: normal;
}

*{
    font-family: 'Trenda-SemiBold';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root {
    --off-white: rgb(237, 237, 250);
    --submit1: rgb(137, 99, 255);
    --submit2: rgb(85, 107, 244);
    --font: rgb(53, 66, 90);
    --box: rgb(215, 215, 215)
}

body{
    display: flex;
    background-color: var(--off-white);
    flex-direction: column;
    font-size: 13px;
}

.Calendar {
    background-color: white;
    display: flex;
    padding: 40px;
    padding-top: 20px;
    border-radius: 50px;
    width: 90%;
    display: inline-flex;
    margin: auto;
    flex-grow: 1;
    flex-wrap: wrap;
    height: calc(100vh-13vh);
}

.Calendar-days{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    /* width: 1300px; */
    margin-left: 21px;
}

.dayOfCalendar{
    font-size: 2em;
    background-color: var(--off-white);
    user-select: none;
    color: white;
    text-align: center;
    flex-grow: 1;
    text-align: center;
    background-color: beige;
    box-sizing: border-box;
    border: 3px black solid;
    margin-left: -3px;
    margin-bottom: -3px; 
    height: 140px;
    flex: 0 0  calc(100% / 7);
    min-width: calc(100% / 7);
}



.weekday{
    color: #333335;
    height: auto;
    /* flex: 1 0 calc(100% / 7);
    min-width: calc(100% / 7); */
}

.Calendar-options{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0px 21px;
}

.Calendar-options__Month {
    display: inline-block;
    text-align: center;
    font-size: 2.6em;
    max-height: 32px;
}



.dayOfCalendar-number{
    background-image: linear-gradient(to bottom, var(--submit1), var(--submit2));
    font-size: 1em;
}


.Calendar-options___button{
    background-color: var(--off-white);
    border: #333335 solid;
    border-width: 3px;
    color: white;
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    border-radius: 100%;
    font-family: 'Trenda-Black';
    margin-bottom: 5px;
}

.highlighted{
    z-index: 10;
    /* background-color: rgb(214, 211, 203); */
    
}


.highlighted h4{
    /* background-color: #37b14f; */
    background-image: linear-gradient(to bottom, #3c3c3c, #2c2c2c,#3c3c3c);
    /* color: black; */
    width: 50px;
    margin: auto;
    border-radius: 20px;
    /* border: var(--submit2) 1px solid; */
}

.Exam h4{
    /* background-image: none; */
    /* background-color: rgb(100, 50, 0); */
    background-image: linear-gradient(to bottom, #3c3c3c, #2c2c2c,#3c3c3c);
    width: 50px;
    margin: auto;
    border-radius: 20px;
}

.sunday{
    border-top-right-radius: 10px;
}

.monday{
    border-top-left-radius: 10px;
}

.nav-conteiner{
    display: flex;
    background-color: var(--off-white);
    /* background-color: #333335; */
    position: sticky;
    top: 0px;
    width: 100%;
    margin-bottom: 2vh;
    border-bottom: rgb(200, 200, 200) solid;
    border-width: 1px;
    justify-content: space-between;
    align-items: center;
    z-index: 9998;
}


.nav-conteiner__Subjects{
    /* background-image: linear-gradient(to bottom, var(--submit1), var(--submit2));
    color: white;
    width: 180px;
    height: 60px;
    
    border: none;
    border-radius: 10px;
    font-family: 'Trenda-Black'; */
    font-family: 'Trenda-Black';
    font-size: 2.4em;
    margin-right: 30px;
    user-select: none;
    border: none;
    cursor: pointer;
    transition: color 0.5s;
}

.nav-conteiner__Subjects:hover{
    color: #444;
}

.UTN-Logo{
    height: 8vh;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    pointer-events: none; /* Evita eventos de puntero en la imagen */
}

p {
    color: black;
    background-color: rgb(214, 211, 203);
    font-size: 1em;
}




.popup-content {
    background-color: #fff;
    /* margin: 15% auto; */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 50px;
    width: 115%;
    max-width: 600px;

}

.popup-content h2 {
    margin-top: 16px;
    font-size: 3em;
    font-family: 'Trenda-Black';
    text-align: center;
}

h2{
    margin-bottom: 20px;
}

.popup-content label {
    display: flex;
    margin-bottom: 20px;
    font-size: 2em;
    margin-left: 60px;
    align-items: center;
}

.popup-content label input[type="checkbox"] {
    margin-right: 20px;
}

.popup-content label input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.8);
    -webkit-transform: scale(1.8); /* Safari and Chrome */
    -moz-transform: scale(1.8); /* Firefox */
    -ms-transform: scale(1.8); /* IE 9 */
    -o-transform: scale(1.8); /* Opera */
}

.popup-content input{
    accent-color: var(--submit1);
}

.popup-content label input[type="checkbox"]:checked {
    background-color: green;
}

.popup-content button {
    display: block;
    margin: 20px auto 0;
}

.popup-content__button{
    background-image: linear-gradient(to bottom, var(--submit1), var(--submit2));
    color: white;
    width: 180px;
    height: 60px;
    font-size: 2em;
    border: none;
    border-radius: 10px;
    font-family: 'Trenda-Black';
    cursor: pointer;
}




.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
}

.popup-message{
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        opacity: 1;
        animation: showAndFade 1s ease-in-out forwards;
        display: none;
        user-select: none;
        z-index: 100;
        color: #ff3333;
        font-size: 2em;
}

@keyframes showAndFade {
    0% {
    opacity: 0;
    display: block;
    }
    10% {
    opacity: 1;
    }
    90% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    display: none;
    }
}

@media only screen and (max-width: 990px) {
    .Calendar{
    padding: 20px;
    margin: 0px;
    width: 100vw;
    width: 100%;
    }
    /* .weekday, .dayOfCalendar-text, .dayOfCalendar{
        font-size: 12px;
    } */
    body {
        font-size: 10px;
    }
    .UTN-Logo{
        height: 70px;
    }
    .nav-conteiner__Subjects{
        margin-right: 20px;
    }
}

.dayOfCalendar.weekday {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 620px) {
    .Calendar{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 87vh;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    }
    body {
        font-size: 8px;
    }
    .UTN-Logo{
        height: 50px;
    }
    .nav-conteiner__Subjects{
        margin-right: 10px;
    }
    
    .dayOfCalendar.weekday {
        font-size: 0px;
    }
    .dayOfCalendar{
        height: 100px;
        border: 2px black solid;
    margin-left: -2px;
    margin-bottom: -2px; 
    }

    .Calendar-days{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin: auto;
        /* width: 1300px; */
        margin-left: 14px;
    }

    .Calendar-options{
        margin: 0px 14px;
    }

    p{
        font-size: 0.8em;
    }
    
    .dayOfCalendar.weekday::after {
        content: attr(data-initial);
        font-size: 16px;
    }
    .weekday{
        height: auto;
    }
    .highlighted h4, .Exam h4{
        width: 25px;
    }

}
