@font-face {
    font-family: 'Trenda-Black';
    src: url(../files/Latinotype-Trenda-Black.otf);
    font-style: normal;
}

@font-face {
    font-family: 'Trenda-SemiBold';
    src: url(../files/Latinotype-Trenda-Semibold.woff);
    font-style: normal;
}

*{
    font-family: 'Trenda-SemiBold';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --off-white: rgb(237, 237, 250);
    --submit1: rgb(137, 99, 255);
    --submit2: rgb(85, 107, 244);
    --font: rgb(53, 66, 90);
    --box: rgb(215, 215, 215)
}

body{
    display: flex;
    background-color: var(--off-white);
    flex-direction: column;
}

.Calendar{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    /* margin: 20px; */
    border-radius: 50px;
    /* min-height: 80vh; */
    /* height: 89vh; */
    width: 90%;
    display: inline-flex;
    margin: auto;
    flex-grow: 1;
}

.Calendar-options{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Calendar-options__Month {
    display: inline-block;
    text-align: center;
    font-size: 32px;
    max-height: 32px;
}

.dayOfCalendar{
    background-color: var(--off-white);
    user-select: none;
    font-size: 26px;
    color: white;
    text-align: center;
    border: solid black;
    /* border-radius: 20px; */
    height: 181px;
    min-width: 150px;
    flex-grow: 1;
    flex-basis: calc(100% / 7)
}

.dayOfCalendar-number{
    background-image: linear-gradient(to bottom, var(--submit1), var(--submit2));
}


.Calendar-options___button{
    background-color: var(--off-white);
    border: #333335 solid;
    border-width: 3px;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 26px;
    border-radius: 30px;
    font-family: 'Trenda-Black';
    margin-bottom: 5px;
}

.highlighted{
    color: #333335;
    border: white solid ;
}

.Exam{
    /* background-image: none; */
    /* background-color: rgb(100, 50, 0); */
    color: aqua;
}
.nav-conteiner{
    display: flex;
    background-color: var(--off-white);
    /* background-color: #333335; */
    position: stick;
    width: 100%;
    margin-bottom: 2vh;
    border-bottom: rgb(200, 200, 200) solid;
    border-width: 1px;
    justify-content: space-between;
    align-items: center;
}

.nav-conteiner__Subjects{
    /* background-image: linear-gradient(to bottom, var(--submit1), var(--submit2));
    color: white;
    width: 180px;
    height: 60px;
    
    border: none;
    border-radius: 10px;
    font-family: 'Trenda-Black'; */
    font-family: 'Trenda-Black';
    font-size: 26px;
    margin-right: 30px;
    user-select: none;
    border: none;
    cursor: pointer;
    transition: color 0.5s;
}

.nav-conteiner__Subjects:hover{
    color: #444;
}

.UTN-Logo{
    height: 8vh;

}

p{
    color: black;
    background-color: rgb(214, 211, 203);
}